@tailwind base;
@tailwind components;
@tailwind utilities;


.modal::-webkit-scrollbar {
  width: 5px;
}

.modal::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

.modal::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: rgba(165, 165, 165, 0.5);
}

.modal::-webkit-scrollbar-thumb:hover {
  width: 15px;
  background: rgba(165, 165, 165, 0.75);
}

.td {
  border: solid 1px black;
  padding: 5px;
  width: 500px;
  font-size: 18px;
}
.app {
  min-height: 100vh;
  width: 100vw;
  padding: 0; margin: 0;
}
.app1{
  text-align: center;
  display: grid;
  justify-items: center;
  min-height: 100vh;
  padding: 0; margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  background-color: #E5E5E5;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.flex{
  display: flex;
  justify-content: space-between;
}
.width50{
  width: 50%;
  text-align: center;
}
.width50100{
  width: 80%;
}
.font2{
  font-size: 1.5vw;
}
.cursor{
  cursor: pointer;
}
.selected{
  border-color: #fc83bb;
  background: -webkit-linear-gradient(right, #a445b2, #fa4299, #a445b2, #fa4299);
  color: white;
}
.bold{
  font-weight: bold;
  color: black;
}
.margin5{
 padding-top: 5px;
 margin-left: 1px;
 margin-Right: 1px;
 padding-bottom: 5px;
}
.margin25{
  margin-left: 25%;
  margin-right: 25%;
}
.border{
  border-radius: 10px;
  border: solid 2px;
}
@media (max-width: 960px) {
  .font2{
    font-size: 2vw;
  }
  .width50100{
    width: 100%;
  }
}
@media (max-width: 600px) {
  .font2{
    font-size: 3.5vw;
  }
}

